@model PPRProject.Domain.Entities.User

@{
    ViewBag.Title = "Edit: " + Model.FirstName + " " + Model.LastName;
}

<div class="panel">
    <div class="panel-heading">
        <h3>Edit @Model.UserID @Model.FirstName @Model.LastName</h3>
    </div>

    @using (Html.BeginForm("Edit", "Admin"))
    {
        <div class="panel-body">
            @foreach (var property in ViewData.ModelMetadata.Properties)
            {
                if (property.PropertyName != "UserID")
                {
                    if (property.PropertyName != "Role")
                    {
                    <div class="form-group">
                        <label>@(property.DisplayName ?? property.PropertyName)</label>
                        @if (property.PropertyName == "Birth")
                        {
                            @Html.TextBoxFor(model => model.Birth, "{0:dd.MM.yyyy}", new { @class = "form-control", @data_date_format = "dd.mm.yyyy" })
                        }
                        else
                        {
                            @Html.TextBox(property.PropertyName, null,
                                                    new { @class = "form-control" })
                        }
                    </div>
                    }
                }
                else
                {
                    <div class="collapse">
                        @Html.TextBox(property.PropertyName, null, new { @class = "form-control invisible" })
                    </div>
                }
            }
        </div>

            <div class="panel-footer">
                <input type="submit" value="Save" class="btn btn-primary" />
                @Html.ActionLink("Cancel", "List", null, new { @class = "btn btn-default" })
            </div>
    }
</div>


